:root {
  --clr-primary: rgb(94, 80, 255);

  --clr-fg: var(--clr-white);

  --clr-bg: rgb(35, 36, 39);
  --clr-bg-light: rgb(77, 77, 80);

  --clr-white: rgb(255, 255, 255);
  --clr-black: rgb(0, 0, 0);
}
