@use "variables";
@use "typography";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css?family=Gabarito");

body {
  font-family: Gabarito, sans-serif;
  color: var(--clr-fg);
  letter-spacing: 0.1rem;

  width: 100%;
  height: 100vh;

  background: var(--clr-bg);
  background: linear-gradient(
    141deg,
    var(--clr-bg) 0%,
    var(--clr-primary) 100%
  );

  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}
