.card {
  width: min(420px, 90%);
  padding: 1rem;

  background-color: var(--clr-bg);
  background: linear-gradient(145deg, #25272a, #202023);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4;

  border-radius: 50px;

  box-shadow: rgba(17, 17, 26, 0.3) 0px 0px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 36px, rgba(17, 17, 26, 0.1) 0px 24px 50px;
}
